.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.task-container {
  margin-top: 20px;
}

.task-container h2 {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
textarea,
input[type="date"] {
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.task {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.task h3 {
  margin-top: 0;
}

.task p {
  margin-bottom: 5px;
}
.task-number {
  display: block;
  font-weight: bold;
  color: #999;
  margin-bottom: 5px;
}

.task .edit-icon {
  color: #999;
  cursor: pointer;
  margin-left: 10px;
}
